* {
  font-family: 'Outfit', sans-serif; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

body {
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

div {
  background: rgb(0, 0, 0);
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

main {
  align-items: center;
  background-color:#fff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(218, 218, 218);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 40px;
  width: 90%;
  min-height: 220px;
}

form {
  align-items:flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  font-size: 1.2rem;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-bottom: 25px;
}

h4 {
  color: black;
}

p {
  color: rgb(0, 0, 0);

}

span {
  color: red;
}
/* caixas de perguntas  */

.register-box {
  color: rgb(0, 0, 0);
  margin-bottom: 60px;
  width: 100%;
}

section {
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  width: 100%;
}


.input-register {
  color: rgb(0, 0, 0);
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  font-size: 15px;
  margin-top: 15px;
  width: 100%;
  padding: 5px 5px;
}

.input-radio {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.radio-label {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.quest-box2 {
  display: flex;
  flex-direction: column;
}

.quest-box3 {
  display: flex;
  flex-direction: column;
}

.quest-box4 {
  display: flex;
  flex-direction: column;
}
.quest-box5 {
  display: flex;
  flex-direction: column;
}
.quest-box6 {
  display: flex;
  flex-direction: column;
}
.quest-box7 {
  display: flex;
  flex-direction: column;
}
.quest-box8 {
  display: flex;
  flex-direction: column;
}

.quest-box > p {
  margin-bottom: 15px;
}

.quest-box2 > p {
  margin-bottom: 15px;
}

.quest-box3 > p {
  margin-bottom: 15px;
}

.quest-box4 > p {
  margin-bottom: 15px;
}

.quest-box5 > p {
  margin-bottom: 15px;
}

.quest-box6 > p {
  margin-bottom: 15px;
}

.quest-box7 > p {
  margin-bottom: 15px;
}

.quest-box8 > p {
  margin-bottom: 15px;
}

/* retirando as cores do input selecionado */

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

textarea {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
}

/* Botões */

.btn-box {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

button {
  color: rgb(0, 0, 0);
  background-color: #fff;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px 50px;
  margin: 10px;
}

#buttonSubmit {
  color: #fff;
  background-color: rgb(0, 0, 0);
  border: none;
}

img {

  width: 300px;
}